In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import joblib 
import os
import pickle
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [8]:
ds = pd.read_csv('C:/Users/Homka/Desktop/final_project_variant_4/new_data.csv')

# Replace missing data

In [9]:
print("Any missing sample in data set:",ds.isnull().values.any())

for col in ds.columns:
    if ds[col].isnull().values.any():
        print("Missing data in ", col)

Any missing sample in data set: True
Missing data in  Course
Missing data in  Daytime/evening attendance
Missing data in  Previous qualification
Missing data in  Previous qualification (grade)
Missing data in  Mother's occupation
Missing data in  Father's occupation
Missing data in  International
Missing data in  Curricular units 1st sem (enrolled)
Missing data in  Curricular units 1st sem (approved)
Missing data in  Curricular units 1st sem (grade)
Missing data in  Curricular units 1st sem (without evaluations)
Missing data in  Curricular units 2nd sem (credited)
Missing data in  Curricular units 2nd sem (enrolled)
Missing data in  Curricular units 2nd sem (evaluations)
Missing data in  Curricular units 2nd sem (grade)
Missing data in  Inflation rate
Missing data in  Citizenship
Missing data in  Family Position
Missing data in  Special Needs

In [10]:

# Припустимо, що дані зберігаються у DataFrame під назвою `df`.
# Перелік колонок, які будемо заповнювати модою
columns_to_fill = [
    'Daytime/evening attendance\t',
    'Previous qualification',
    'Mother\'s occupation',
    'Father\'s occupation',
    'International',
    'Family Position',
    'Special Needs',
    'Curricular units 1st sem (without evaluations)',
    'Curricular units 2nd sem (credited)'
]

# Заповнюємо пропущені значення модою для кожної колонки
for column in columns_to_fill:
    mode_value = ds[column].mode()[0]  # обчислюємо моду для кожної колонки
    ds[column].fillna(mode_value, inplace=True)

# Перевіряємо, чи є пропущені значення після заповнення
missing_values_after = ds[columns_to_fill].isnull().sum()

missing_values_after

Daytime/evening attendance\t                      0
Previous qualification                            0
Mother's occupation                               0
Father's occupation                               0
International                                     0
Family Position                                   0
Special Needs                                     0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
dtype: int64

In [11]:
# Припустимо, що дані зберігаються у DataFrame під назвою df

# Перелік колонок, які будемо заповнювати медіаною
columns_to_fill_median = [
    'Previous qualification (grade)',  # Оцінка попередньої кваліфікації
    'Curricular units 1st sem (grade)',  # Оцінка за 1-й семестр
    'Curricular units 2nd sem (grade)',  # Оцінка за 2-й семестр
    'Inflation rate'  # Інфляція
]

# Заповнюємо пропущені значення медіаною для кожної колонки
for column in columns_to_fill_median:
    median_value = ds[column].median()  # обчислюємо медіану для кожної колонки
    ds[column].fillna(median_value, inplace=True)

# Перевіряємо, чи є пропущені значення після заповнення
missing_values_after = ds[columns_to_fill_median].isnull().sum()

missing_values_after

Previous qualification (grade)      0
Curricular units 1st sem (grade)    0
Curricular units 2nd sem (grade)    0
Inflation rate                      0
dtype: int64

In [12]:
mode_value = ds['Course'].mode()[0]  # обчислюємо моду
ds['Course'].fillna(mode_value, inplace=True)

# Або, щоб заповнити значенням за замовчуванням
# df['Course'].fillna(course_options[0], inplace=True)  # Наприклад, заповнюємо першим значенням

# Перевірка результату
print(ds)

     Marital status  Application mode  Application order  Course  \
0                 1                43                  1  9500.0
1                 1                17                  1   171.0
2                 1                17                  4  9500.0
3                 1                18                  1  9130.0
4                 1                 1                  1  9070.0
..              ...               ...                ...     ...
880               1                 1                  4  9773.0
881               1                 1                  3  9500.0
882               1                 1                  1  9147.0
883               1                17                  1  9070.0
884               1                 1                  4  9500.0

     Daytime/evening attendance\t  Previous qualification  \
0                             1.0                     1.0
1                             1.0                     1.0
2                             1.0                     1.0
3                             1.0                     1.0
4                             1.0                     1.0
..                            ...                     ...
880                           1.0                     1.0
881                           1.0                     1.0
882                           1.0                     1.0
883                           1.0                     1.0
884                           1.0                     1.0

     Previous qualification (grade)  Nacionality  Mother's qualification  \
0                             170.0            1                      19
1                             144.0            1                      37
2                             136.0            1                       3
3                             146.0            1                       3
4                             133.0            1                      12
..                              ...          ...                     ...
880                           133.0            1                       3
881                           133.0            1                      19
882                           132.0            1                      38
883                           133.0            1                      38
884                           133.0            1                      38

     Father's qualification  Mother's occupation  Father's occupation  \
0                        37                  8.0                  8.0
1                        37                  9.0                  6.0
2                         3                  2.0                  2.0
3                         3                  5.0                  2.0
4                        19                  4.0                  5.0
..                      ...                  ...                  ...
880                      19                  2.0                  3.0
881                      38                  1.0                  1.0
882                      37                  7.0                  7.0
883                      19                  9.0                  3.0
884                      37                  9.0                  8.0

     Admission grade  Displaced  Educational special needs  Debtor  \
0              100.0          0                          0       0
1              129.3          1                          0       0
2              132.5          1                          0       0
3              137.8          0                          0       0
4              118.5          0                          1       0
..               ...        ...                        ...     ...
880            139.8          1                          1       0
881            130.8          1                          0       0
882            131.3          1                          0       0
883            111.0          1                          0       0
884            126.3          1                          0       0

     Tuition fees up to date  Gender  Scholarship holder  Age at enrollment  \
0                          1       0                   0                 20
1                          1       1                   1                 18
2                          1       0                   0                 19
3                          1       1                   0                 18
4                          1       0                   1                 18
..                       ...     ...                 ...                ...
880                        1       0                   0                 18
881                        1       0                   0                 18
882                        1       0                   0                 18
883                        1       0                   0                 21
884                        1       0                   1                 19

     International  Curricular units 1st sem (credited)  \
0              0.0                                    0
1              0.0                                    0
2              0.0                                    0
3              0.0                                    0
4              0.0                                    0
..             ...                                  ...
880            0.0                                    0
881            0.0                                    0
882            0.0                                    0
883            0.0                                    0
884            0.0                                    0

     Curricular units 1st sem (enrolled)  \
0                                    7.0
1                                    0.0
2                                    7.0
3                                    6.0
4                                    6.0
..                                   ...
880                                  6.0
881                                  8.0
882                                  5.0
883                                  6.0
884                                  NaN

     Curricular units 1st sem (evaluations)  \
0                                         8
1                                         0
2                                         8
3                                        11
4                                         6
..                                      ...
880                                      10
881                                       8
882                                       8
883                                       6
884                                       7

     Curricular units 1st sem (approved)  Curricular units 1st sem (grade)  \
0                                    6.0                         13.250000
1                                    0.0                          0.000000
2                                    7.0                         13.198571
3                                    5.0                         13.600000
4                                    6.0                         12.000000
..                                   ...                               ...
880                                  6.0                         12.571429
881                                  7.0                         13.614286
882                                  4.0                         12.000000
883                                  6.0                         12.500000
884                                  6.0                         12.285714

     Curricular units 1st sem (without evaluations)  \
0                                               0.0
1                                               0.0
2                                               0.0
3                                               0.0
4                                               0.0
..                                              ...
880                                             0.0
881                                             0.0
882                                             0.0
883                                             0.0
884                                             0.0

     Curricular units 2nd sem (credited)  Curricular units 2nd sem (enrolled)  \
0                                    0.0                                  8.0
1                                    0.0                                  0.0
2                                    0.0                                  8.0
3                                    0.0                                  6.0
4                                    0.0                                  6.0
..                                   ...                                  ...
880                                  0.0                                  6.0
881                                  0.0                                  8.0
882                                  0.0                                  5.0
883                                  0.0                                  6.0
884                                  0.0                                  7.0

     Curricular units 2nd sem (evaluations)  \
0                                       8.0
1                                       0.0
2                                       8.0
3                                      13.0
4                                       8.0
..                                      ...
880                                    11.0
881                                     8.0
882                                     8.0
883                                     6.0
884                                     7.0

     Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                      8                         13.750000
1                                      0                          0.000000
2                                      8                         13.062500
3                                      3                         12.666667
4                                      6                         11.285714
..                                   ...                               ...
880                                    6                         12.571429
881                                    7                         13.614286
882                                    4                         12.250000
883                                    6                         12.666667
884                                    6                         15.433333

     Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                                 0               13.9
1                                                 0                7.6
2                                                 0               11.1
3                                                 0               13.9
4                                                 0                8.9
..                                              ...                ...
880                                               0               10.8
881                                               0               12.7
882                                               0                9.4
883                                               0                7.6
884                                               0                7.6

     Inflation rate   GDP Citizenship Family Position       Attendance  \
0              -0.3  0.79   Barcelona  Youngest Child        Part-Time
1               2.6  0.32   Barcelona    Middle Child        Part-Time
2               0.6  2.02         NaN    Middle Child           Online
3              -0.3  0.79   Edinburgh     First Child           Online
4               1.4  3.51    Helsinki    Middle Child        Part-Time
..              ...   ...         ...             ...              ...
880             1.4  1.74   Stockholm    Middle Child           Online
881             3.7 -1.70      Zurich    Middle Child        Part-Time
882            -0.8 -3.12        Kyiv     First Child  Evening Classes
883             2.6  0.32        Oslo    Middle Child        Full-Time
884             2.6  0.32        Oslo    Middle Child        Part-Time

    Field of Study     Special Needs    Target
0         Medicine     Special Needs  Enrolled
1             Arts  No Special Needs  Enrolled
2             Arts  No Special Needs  Graduate
3         Commerce     Special Needs   Dropout
4          Science     Special Needs  Graduate
..             ...               ...       ...
880       Commerce     Special Needs  Enrolled
881           Arts     Special Needs  Graduate
882       Medicine     Special Needs  Enrolled
883       Commerce     Special Needs  Graduate
884       Medicine     Special Needs  Graduate

[885 rows x 42 columns]

In [13]:
# Обчислюємо медіану
median_value = ds['Curricular units 1st sem (enrolled)'].median()

# Заповнюємо пропуски медіаною
ds['Curricular units 1st sem (enrolled)'].fillna(median_value, inplace=True)
missing_values_after = ds['Curricular units 1st sem (enrolled)'].isnull().sum()

missing_values_after

0

In [14]:
median_value = ds['Curricular units 1st sem (approved)'].median()

# Заповнюємо пропуски медіаною
ds['Curricular units 1st sem (approved)'].fillna(median_value, inplace=True)

In [15]:

# Заповнення для 'Curricular units 2nd sem (enrolled)'
median_enrolled = ds['Curricular units 2nd sem (enrolled)'].median()
ds['Curricular units 2nd sem (enrolled)'].fillna(median_enrolled, inplace=True)

# Заповнення для 'Curricular units 2nd sem (evaluations)'
median_evaluations = ds['Curricular units 2nd sem (evaluations)'].median()
ds['Curricular units 2nd sem (evaluations)'].fillna(median_evaluations, inplace=True)

In [16]:

# Заповнення пропусків модою
mode_citizenship = ds['Citizenship'].mode()[0]
ds['Citizenship'].fillna(mode_citizenship, inplace=True)

# Categorial coding

In [17]:
# Створення словника для відображення категорій у числа
ordinal_mapping = {
    k: i
    for i, k in enumerate(ds['Target'].unique(), 0)
}

# Виводимо словник
print("Ordinal Mapping:", ordinal_mapping)

# Використовуємо словник для кодування цільової змінної 'Target'
ds['Target'] = ds['Target'].map(ordinal_mapping)

# Перевіряємо результати
print(ds['Target'])


# Функція для створення словника і кодування
def integer_encoding(column):
    ordinal_mapping = {
        k: i for i, k in enumerate(column.unique(), 0)
    }
    return column.map(ordinal_mapping), ordinal_mapping

# Кодування 'Family Position'
ds['Family Position'], family_position_mapping = integer_encoding(ds['Family Position'])

# Кодування 'Special Needs'
ds['Special Needs'], special_needs_mapping = integer_encoding(ds['Special Needs'])

# Виводимо результати
print("Family Position Mapping:", family_position_mapping)
print("Special Needs Mapping:", special_needs_mapping)
print(ds['Family Position'], ds['Special Needs'])

Ordinal Mapping: {'Enrolled': 0, 'Graduate': 1, 'Dropout': 2}
0      0
1      0
2      1
3      2
4      1
      ..
880    0
881    1
882    0
883    1
884    1
Name: Target, Length: 885, dtype: int64
Family Position Mapping: {'Youngest Child': 0, 'Middle Child': 1, 'First Child': 2}
Special Needs Mapping: {'Special Needs': 0, 'No Special Needs': 1}
0      0
1      1
2      1
3      2
4      1
      ..
880    1
881    1
882    2
883    1
884    1
Name: Family Position, Length: 885, dtype: int64 0      0
1      1
2      1
3      0
4      0
      ..
880    0
881    0
882    0
883    0
884    0
Name: Special Needs, Length: 885, dtype: int64

In [18]:
citizenship_mapping = {citizen: idx for idx, citizen in enumerate(ds['Citizenship'].unique())}

# Виводимо словник для перевірки
print(citizenship_mapping)

# Кодуємо дані
ds['Citizenship'] = ds['Citizenship'].map(citizenship_mapping)
print(ds['Citizenship'])

{'Barcelona': 0, 'Warsaw': 1, 'Edinburgh': 2, 'Helsinki': 3, 'Bucharest': 4, 'Copenhagen': 5, 'Dublin': 6, 'London': 7, 'Kyiv': 8, 'Munich': 9, 'Athens': 10, 'Paris': 11, 'Saint Petersburg': 12, 'Vienna': 13, 'Madrid': 14, 'Oslo': 15, 'Berlin': 16, 'Rome': 17, 'Prague': 18, 'Stockholm': 19, 'Venice': 20, 'Zurich': 21, 'Istanbul': 22, 'Amsterdam': 23, 'Brussels': 24, 'Sofia': 25, 'Milan': 26, 'Lisbon': 27, 'Budapest': 28}
0       0
1       0
2       1
3       2
4       3
       ..
880    19
881    21
882     8
883    15
884    15
Name: Citizenship, Length: 885, dtype: int64

In [19]:
# Створюємо словник для Attendance
attendance_mapping = {attendance: idx for idx, attendance in enumerate(ds['Attendance'].unique())}

# Виводимо словник для перевірки
print(attendance_mapping)

# Кодуємо дані
ds['Attendance'] = ds['Attendance'].map(attendance_mapping)

{'Part-Time': 0, 'Online': 1, 'Full-Time': 2, 'Evening Classes': 3}

In [20]:
# Створюємо словник для Field of Study
field_of_study_mapping = {field: idx for idx, field in enumerate(ds['Field of Study'].unique())}

# Виводимо словник для перевірки
print(field_of_study_mapping)

# Кодуємо дані
ds['Field of Study'] = ds['Field of Study'].map(field_of_study_mapping)

{'Medicine': 0, 'Arts': 1, 'Commerce': 2, 'Science': 3, 'Engineering': 4}

# Anomalies search

In [21]:
def find_skewed_boundaries(df, variable, distance):

    # Let's calculate the boundaries outside which sit the outliers
    # for skewed distributions

    # distance passed as an argument, gives us the option to
    # estimate 1.5 times or 3 times the IQR to calculate
    # the boundaries.

    IQR = df[variable].quantile(0.75) - df[variable].quantile(0.25)

    lower_boundary = df[variable].quantile(0.25) - (IQR * distance)
    upper_boundary = df[variable].quantile(0.75) + (IQR * distance)

    return upper_boundary, lower_boundary

In [22]:

def find_skewed_boundaries(df, variable, distance):
    IQR = df[variable].quantile(0.75) - df[variable].quantile(0.25)
    lower_boundary = df[variable].quantile(0.25) - (IQR * distance)
    upper_boundary = df[variable].quantile(0.75) + (IQR * distance)
    return upper_boundary, lower_boundary

# Знайдіть усі числові колонки у DataFrame
numeric_columns = ds.select_dtypes(include=['number']).columns.tolist()

# Обчисліть межі викидів для всіх числових колонок
for column in numeric_columns:
    upper_limit, lower_limit = find_skewed_boundaries(ds, column, 4)
    print(f'Column: {column}, Upper Limit: {upper_limit}, Lower Limit: {lower_limit}')

Column: Marital status, Upper Limit: 1.0, Lower Limit: 1.0
Column: Application mode, Upper Limit: 191.0, Lower Limit: -151.0
Column: Application order, Upper Limit: 6.0, Lower Limit: -3.0
Column: Course, Upper Limit: 11160.0, Lower Limit: 7425.0
Column: Daytime/evening attendance	, Upper Limit: 1.0, Lower Limit: 1.0
Column: Previous qualification, Upper Limit: 1.0, Lower Limit: 1.0
Column: Previous qualification (grade), Upper Limit: 133.0, Lower Limit: 133.0
Column: Nacionality, Upper Limit: 1.0, Lower Limit: 1.0
Column: Mother's qualification, Upper Limit: 177.0, Lower Limit: -138.0
Column: Father's qualification, Upper Limit: 173.0, Lower Limit: -133.0
Column: Mother's occupation, Upper Limit: 29.0, Lower Limit: -16.0
Column: Father's occupation, Upper Limit: 29.0, Lower Limit: -16.0
Column: Admission grade, Upper Limit: 198.8, Lower Limit: 52.999999999999986
Column: Displaced, Upper Limit: 5.0, Lower Limit: -4.0
Column: Educational special needs, Upper Limit: 0.0, Lower Limit: 0.0
Column: Debtor, Upper Limit: 0.0, Lower Limit: 0.0
Column: Tuition fees up to date, Upper Limit: 1.0, Lower Limit: 1.0
Column: Gender, Upper Limit: 5.0, Lower Limit: -4.0
Column: Scholarship holder, Upper Limit: 0.0, Lower Limit: 0.0
Column: Age at enrollment, Upper Limit: 49.0, Lower Limit: -5.0
Column: International, Upper Limit: 0.0, Lower Limit: 0.0
Column: Curricular units 1st sem (credited), Upper Limit: 0.0, Lower Limit: 0.0
Column: Curricular units 1st sem (enrolled), Upper Limit: 15.0, Lower Limit: -3.0
Column: Curricular units 1st sem (evaluations), Upper Limit: 26.0, Lower Limit: -10.0
Column: Curricular units 1st sem (approved), Upper Limit: 18.0, Lower Limit: -9.0
Column: Curricular units 1st sem (grade), Upper Limit: 21.700000000000006, Lower Limit: 2.7999999999999936
Column: Curricular units 1st sem (without evaluations), Upper Limit: 0.0, Lower Limit: 0.0
Column: Curricular units 2nd sem (credited), Upper Limit: 0.0, Lower Limit: 0.0
Column: Curricular units 2nd sem (enrolled), Upper Limit: 15.0, Lower Limit: -3.0
Column: Curricular units 2nd sem (evaluations), Upper Limit: 26.0, Lower Limit: -10.0
Column: Curricular units 2nd sem (approved), Upper Limit: 22.0, Lower Limit: -14.0
Column: Curricular units 2nd sem (grade), Upper Limit: 23.442857142857136, Lower Limit: 0.6857142857142939
Column: Curricular units 2nd sem (without evaluations), Upper Limit: 0.0, Lower Limit: 0.0
Column: Unemployment rate, Upper Limit: 31.9, Lower Limit: -8.6
Column: Inflation rate, Upper Limit: 11.8, Lower Limit: -8.9
Column: GDP, Upper Limit: 15.75, Lower Limit: -15.66
Column: Citizenship, Upper Limit: 84.0, Lower Limit: -60.0
Column: Family Position, Upper Limit: 1.0, Lower Limit: 1.0
Column: Attendance, Upper Limit: 6.0, Lower Limit: -3.0
Column: Field of Study, Upper Limit: 11.0, Lower Limit: -7.0
Column: Special Needs, Upper Limit: 0.0, Lower Limit: 0.0
Column: Target, Upper Limit: 6.0, Lower Limit: -3.0

In [23]:
# Припустимо, що ви вже закодували дані і ваша таблиця зберігається у змінній ds

# Функція для виявлення викидів
def flag_outliers(df, variable):
    upper_limit, lower_limit = find_skewed_boundaries(df, variable, 100)
    return np.where(df[variable] > upper_limit, True, 
                    np.where(df[variable] < lower_limit, True, False))

# Створюємо новий DataFrame для зберігання викидів
outliers_df = pd.DataFrame()

# Перебираємо числові стовпці
for column in ds.select_dtypes(include=[np.number]).columns:
    outliers_df[column] = flag_outliers(ds, column)

# Виводимо результат
outliers_df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Citizenship,Family Position,Attendance,Field of Study,Special Needs,Target
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [24]:
# Створимо список для зберігання всіх викидів
all_outliers = pd.Series(False, index=ds.index)

# Перебір кожного числового стовпця
for column in ds.columns:
    # Якщо стовпець числовий, знайдемо межі для викидів
    if np.issubdtype(ds[column].dtype, np.number):
        upper_limit, lower_limit = find_skewed_boundaries(ds, column, 4)
        
        # Визначимо викиди для поточного стовпця
        outliers = (ds[column] > upper_limit) | (ds[column] < lower_limit)
        
        # Додаємо викиди до загального списку
        all_outliers = all_outliers | outliers

# Обрізаємо викиди
ds_trimmed = ds.loc[~all_outliers]

# Виведемо форми початкового та обрізаного наборів даних
print("Original shape:", ds.shape)
print("Trimmed shape:", ds_trimmed.shape)

Original shape: (885, 42)
Trimmed shape: (122, 42)

In [25]:
import numpy as np
import pandas as pd

# Припустимо, що ds — це ваш DataFrame
def find_skewed_boundaries(df, variable, distance):
    IQR = df[variable].quantile(0.75) - df[variable].quantile(0.25)
    lower_boundary = df[variable].quantile(0.25) - (IQR * distance)
    upper_boundary = df[variable].quantile(0.75) + (IQR * distance)
    return upper_boundary, lower_boundary

# Список кількісних стовпців
quantitative_columns = [
    'Admission grade', 'Age at enrollment', 
    'Curricular units 1st sem (credited)', 'Curricular units 1st sem (enrolled)', 
    'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (approved)',
    'Curricular units 1st sem (grade)', 'Curricular units 2nd sem (credited)',
    'Curricular units 2nd sem (enrolled)', 'Curricular units 2nd sem (evaluations)',
    'Curricular units 2nd sem (approved)', 'Curricular units 2nd sem (grade)',
    'Unemployment rate', 'Inflation rate', 'GDP', 'Target'
]

# Зберігайте межі викидів для кожного стовпця
outlier_boundaries = {}

for column in quantitative_columns:
    upper_limit, lower_limit = find_skewed_boundaries(ds, column, 1.5)
    outlier_boundaries[column] = (upper_limit, lower_limit)

outlier_boundaries

{'Admission grade': (158.3, 93.5),
 'Age at enrollment': (34.0, 10.0),
 'Curricular units 1st sem (credited)': (0.0, 0.0),
 'Curricular units 1st sem (enrolled)': (10.0, 2.0),
 'Curricular units 1st sem (evaluations)': (16.0, 0.0),
 'Curricular units 1st sem (approved)': (10.5, -1.5),
 'Curricular units 1st sem (grade)': (16.450000000000003, 8.049999999999997),
 'Curricular units 2nd sem (credited)': (0.0, 0.0),
 'Curricular units 2nd sem (enrolled)': (10.0, 2.0),
 'Curricular units 2nd sem (evaluations)': (16.0, 0.0),
 'Curricular units 2nd sem (approved)': (12.0, -4.0),
 'Curricular units 2nd sem (grade)': (17.121428571428567, 7.007142857142861),
 'Unemployment rate': (20.65, 2.6500000000000004),
 'Inflation rate': (6.050000000000001, -3.1500000000000004),
 'GDP': (7.025, -6.9350000000000005),
 'Target': (3.5, -0.5)}

In [26]:
import numpy as np
import pandas as pd
from scipy import stats

# Визначення колонок, для яких будемо виключати викиди
outlier_columns = [
    'Admission grade', 'Age at enrollment',
    'Curricular units 1st sem (credited)',
    'Curricular units 1st sem (enrolled)',
    'Curricular units 1st sem (evaluations)',
    'Curricular units 1st sem (approved)',
    'Curricular units 1st sem (grade)',
    'Curricular units 2nd sem (credited)',
    'Curricular units 2nd sem (enrolled)',
    'Curricular units 2nd sem (evaluations)',
    'Curricular units 2nd sem (approved)',
    'Curricular units 2nd sem (grade)',
    'Unemployment rate', 'Inflation rate',
    'GDP', 'Target'
]

# Видалення викидів з набору даних
ds_cleaned = ds[(np.abs(stats.zscore(ds[outlier_columns])) < 3).all(axis=1)]

# Перевірка наявності викидів
print(f'Кількість рядків після видалення викидів: {ds_cleaned.shape[0]}')

Кількість рядків після видалення викидів: 823

In [27]:
# Заміна нульових значень на медіану в стовпці 'Curricular units 2nd sem (grade)'
median_value = ds['Curricular units 2nd sem (grade)'].median()
ds['Curricular units 2nd sem (grade)'] = ds['Curricular units 2nd sem (grade)'].replace(0, median_value)

# Перевірка, чи зміни відбулися
print(ds['Curricular units 2nd sem (grade)'].value_counts())

Curricular units 2nd sem (grade)
12.250000    191
11.000000     41
13.000000     32
12.000000     30
10.000000     18
12.500000     18
11.500000     17
12.600000     17
13.500000     16
12.666667     16
13.333333     13
11.250000     11
12.333333     10
14.166667     10
11.600000      9
12.400000      9
11.333333      8
12.800000      8
10.500000      8
11.666667      8
14.000000      8
11.400000      7
11.833333      7
11.750000      7
13.166667      7
13.666667      7
12.833333      7
10.750000      6
12.166667      6
14.333333      6
12.857143      5
10.666667      5
11.800000      5
14.500000      5
13.200000      5
12.200000      5
12.750000      5
11.200000      5
13.250000      4
12.571429      4
13.750000      4
13.400000      4
14.400000      4
14.142857      4
15.000000      4
13.800000      4
14.600000      4
13.285714      4
12.714286      3
11.714286      3
13.600000      3
11.142857      3
15.833333      3
14.666667      3
14.285714      3
10.800000      3
10.400000      3
14.750000      3
10.333333      3
14.833333      3
12.285714      3
15.400000      3
11.857143      3
13.771429      2
12.777778      2
13.550000      2
12.142857      2
13.777778      2
10.600000      2
14.428571      2
11.571429      2
13.775000      2
14.571429      2
14.250000      2
15.500000      2
12.875000      2
12.555556      2
14.200000      2
14.800000      2
12.300000      2
13.571429      2
11.725000      1
12.842857      1
14.062500      1
13.562500      1
13.545455      1
15.611111      1
13.345000      1
14.388889      1
14.100000      1
15.600000      1
12.454286      1
15.625000      1
14.448750      1
14.714286      1
14.222222      1
13.544444      1
14.687500      1
12.625000      1
14.925000      1
14.314286      1
13.150000      1
13.833333      1
13.218750      1
14.933333      1
13.614286      1
16.285714      1
12.210526      1
14.312857      1
11.100000      1
12.140000      1
12.150000      1
14.357143      1
12.041667      1
12.687500      1
15.812500      1
11.950000      1
10.571429      1
11.909091      1
13.887500      1
12.614286      1
13.442857      1
10.857143      1
13.714286      1
11.325000      1
12.841429      1
12.545714      1
12.461538      1
13.312500      1
11.545455      1
12.055556      1
11.166667      1
13.100000      1
12.771250      1
12.685714      1
13.428571      1
14.985714      1
11.736000      1
13.164286      1
14.955556      1
14.511250      1
14.625000      1
15.142857      1
14.051429      1
13.630000      1
14.272500      1
14.125000      1
13.857143      1
13.071429      1
12.818182      1
13.746250      1
13.313750      1
11.700000      1
14.575000      1
13.727273      1
14.266667      1
16.333333      1
13.798571      1
12.728571      1
13.266667      1
14.375000      1
12.936250      1
12.288000      1
12.228571      1
10.978571      1
14.368750      1
12.222222      1
11.928571      1
15.011111      1
16.500000      1
14.737500      1
14.445000      1
13.483333      1
13.416667      1
12.909091      1
14.240000      1
11.785714      1
14.187500      1
13.222222      1
15.700000      1
14.533333      1
13.916667      1
13.657143      1
12.342857      1
14.512500      1
12.491667      1
12.188889      1
13.062500      1
11.285714      1
13.742857      1
12.481250      1
14.828571      1
12.944286      1
15.862500      1
12.888889      1
12.428571      1
13.266667      1
16.000000      1
14.775000      1
12.636364      1
12.545455      1
15.200000      1
14.060000      1
13.045000      1
10.833333      1
12.892857      1
14.633750      1
12.628571      1
13.142857      1
16.666667      1
12.071429      1
14.233333      1
13.328571      1
12.823750      1
12.375000      1
13.867143      1
16.387500      1
13.326250      1
17.428571      1
12.785714      1
10.727273      1
13.842857      1
15.070000      1
13.554737      1
14.350000      1
11.625000      1
17.000000      1
13.576250      1
14.716667      1
15.114286      1
11.771429      1
15.875000      1
11.125000      1
14.342857      1
11.428571      1
12.125000      1
10.428571      1
13.300000      1
11.300000      1
13.212500      1
13.875000      1
11.181818      1
14.540000      1
12.968182      1
12.886250      1
16.327273      1
15.433333      1
Name: count, dtype: int64

In [28]:
median_value = ds['Curricular units 2nd sem (credited)'].median()
ds['Curricular units 2nd sem (credited)'] = ds['Curricular units 2nd sem (credited)'].replace(0, median_value)

# Перевірка, чи зміни відбулися
print(ds['Curricular units 2nd sem (credited)'].value_counts())

Curricular units 2nd sem (credited)
0.0     780
1.0      20
2.0      18
5.0      16
4.0      13
6.0       8
3.0       7
11.0      5
8.0       4
9.0       4
13.0      2
12.0      2
7.0       2
10.0      2
16.0      1
14.0      1
Name: count, dtype: int64

In [29]:
# Підрахунок кількості викидів у кожному стовпці

# Створюємо DataFrame для зберігання кількості викидів
outlier_counts = {}

for column in quantitative_columns:
    upper_limit, lower_limit = outlier_boundaries[column]
    # Підрахунок кількості викидів
    outliers = ds[(ds[column] > upper_limit) | (ds[column] < lower_limit)]
    outlier_counts[column] = outliers.shape[0]

outlier_counts

{'Admission grade': 25,
 'Age at enrollment': 83,
 'Curricular units 1st sem (credited)': 120,
 'Curricular units 1st sem (enrolled)': 91,
 'Curricular units 1st sem (evaluations)': 32,
 'Curricular units 1st sem (approved)': 35,
 'Curricular units 1st sem (grade)': 136,
 'Curricular units 2nd sem (credited)': 105,
 'Curricular units 2nd sem (enrolled)': 86,
 'Curricular units 2nd sem (evaluations)': 28,
 'Curricular units 2nd sem (approved)': 10,
 'Curricular units 2nd sem (grade)': 1,
 'Unemployment rate': 0,
 'Inflation rate': 0,
 'GDP': 0,
 'Target': 0}

In [30]:
# Список допустимих значень для колонки 'Target'
valid_target_values = [0, 1, 2]

# Перевірка наявності недопустимих значень у колонці 'Target'
if 'Target' in ds.columns:
    invalid_target_values = ds['Target'][~ds['Target'].isin(valid_target_values)].unique()
    if len(invalid_target_values) > 0:
        print(f"У колонці 'Target' є недопустимі значення: {invalid_target_values}")
    else:
        print("У колонці 'Target' немає недопустимих значень.")

У колонці 'Target' немає недопустимих значень.

In [31]:
# Оновлений словник з допустимими значеннями
valid_values = {
    'Marital Status': [1, 2, 3, 4, 5, 6],
    'Application mode': [1, 2, 5, 7, 10, 15, 16, 17, 18, 26, 27, 39, 42, 43, 44, 51, 53, 57],
    'Application order': list(range(10)),  # 0-9
    'Course': [
        33, 171, 8014, 9003, 9070, 9085, 9119,
        9130, 9147, 9238, 9254, 9500, 9556,
        9670, 9773, 9853, 9991
    ],
    'Daytime/evening attendance': [0, 1],
    'Previous qualification': list(range(1, 7)) + [9, 10, 12, 14, 15, 19, 38, 39, 40, 42, 43],
    'Nacionality': [1, 2, 6, 11, 13, 14, 17, 21, 22, 24, 25, 26, 32, 41, 62, 100, 101, 103, 105, 108, 109],
    'Mother\'s qualification': [
        1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 14, 18,
        19, 22, 26, 27, 29, 30, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44
    ],
    'Father\'s qualification': [
        1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 14,
        18, 19, 20, 22, 25, 26, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44
    ],
    'Mother\'s occupation': list(range(0, 10)) + [90, 99, 122, 123, 125, 131, 132, 134, 141, 143, 144, 151, 152, 153, 171, 173, 175, 191, 192, 193, 194],
    'Father\'s occupation': list(range(0, 10)) + [90, 99, 101, 102, 103, 112, 114, 121, 122, 123, 124, 131, 132, 134, 135, 141, 143, 144, 151, 152, 153, 154, 161, 163, 171, 172, 174, 175, 181, 182, 183, 192, 193, 194, 195],
    'Displaced': [0, 1],
    'Educational special needs': [0, 1],
    'Debtor': [0, 1],
    'Tuition fees up to date': [0, 1],
    'Gender': [0, 1],
    'Scholarship holder': [0, 1],
    'Age at enrollment': list(range(1, 90)),  # допустимо вказати відповідний діапазон
    'International': [0, 1],
    'Curricular units 1st sem (credited)': list(range(0, 100)),  # приклад
    'Curricular units 1st sem (enrolled)': list(range(0, 100)),  # приклад
    'Curricular units 1st sem (evaluations)': list(range(0, 100)),  # приклад
    'Curricular units 1st sem (approved)': list(range(0, 100)),  # приклад
    'Curricular units 1st sem (without evaluations)': list(range(0, 100)),  # приклад
    'Curricular units 2nd sem (credited)': list(range(0, 100)),  # приклад
    'Curricular units 2nd sem (enrolled)': list(range(0, 100)),  # приклад
    'Curricular units 2nd sem (evaluations)': list(range(0, 100)),  # приклад
    'Curricular units 2nd sem (approved)': list(range(0, 100)),  # приклад
    'Curricular units 2nd sem (without evaluations)': list(range(0, 100)),  # приклад
}

for column, valid in valid_values.items():
    if column in ds.columns:
        # Перевіряємо, чи є колонка числовою
        if ds[column].dtype in ['float64', 'int64', 'object']:  # 'object' може містити текстові значення
            try:
                # Спробуємо замінити ',' на '.' та перетворити на float
                ds[column] = ds[column].astype(str).str.replace(',', '.')
                ds[column] = ds[column].astype(float)
            except ValueError as e:
                print(f"Не вдалося перетворити колонку '{column}': {e}")
                continue  # Пропустити цю колонку, якщо сталася помилка

            invalid_values = ds[column][~ds[column].isin(valid)].unique()
            if len(invalid_values) > 0:
                print(f"У колонці '{column}' є недопустимі значення: {invalid_values}")


# Список колонок з недопустимими значеннями
columns_to_replace = ["Father's qualification", "Mother's occupation", "Father's occupation"]

# Замінюємо недопустимі значення на 1000
for column in columns_to_replace:
    if column in ds.columns:
        ds[column] = ds[column].replace([27., 10.], 1000)

# Перевірка результату
for column in columns_to_replace:
    if column in ds.columns:
        print(f"У колонці '{column}' після заміни: {ds[column].unique()}")


# Список колонок з недопустимими значеннями
columns_to_replace = ["Father's qualification", "Mother's occupation", "Father's occupation"]

# Замінюємо недопустимі значення на 1000
for column in columns_to_replace:
    if column in ds.columns:
        ds[column] = ds[column].replace([27., 10.], 1000)

# Видалення рядків з недопустимими значеннями (1000)
for column in columns_to_replace:
    if column in ds.columns:
        ds = ds[ds[column] != 1000]

# Перевірка результату
for column in columns_to_replace:
    if column in ds.columns:
        print(f"У колонці '{column}' після видалення викидів: {ds[column].unique()}")

У колонці 'Father's qualification' є недопустимі значення: [27.]
У колонці 'Father's occupation' є недопустимі значення: [10.]
У колонці 'Father's qualification' після заміни: [  37.    3.   19.    1.   38.   11.   34.    4.    9.   12.    2.   14.
    5.   43. 1000.   20.   30.   36.   39.   40.]
У колонці 'Mother's occupation' після заміни: [  8.   9.   2.   5.   4.   0.  90. 143.   6.   3.   7. 194.   1. 191.
 175. 193. 123. 192.  99. 144. 134. 132.]
У колонці 'Father's occupation' після заміни: [   8.    6.    2.    5.    9.    3.    4.    7.   90. 1000.    0.  172.
  175.    1.  171.  183.  144.   99.  194.  135.  193.  123.  122.]
У колонці 'Father's qualification' після видалення викидів: [37.  3. 19.  1. 38. 11. 34.  9. 12.  2.  5.  4. 43. 20. 30. 36. 39. 40.]
У колонці 'Mother's occupation' після видалення викидів: [  8.   9.   2.   5.   4.   0.  90. 143.   6.   7.   3. 194.   1. 191.
 175. 193. 123. 192.  99. 144. 134. 132.]
У колонці 'Father's occupation' після видалення викидів: [  8.   6.   2.   5.   9.   3.   4.   7.  90.   0. 172. 175.   1. 171.
 183. 144.  99. 194. 135. 193. 123. 122.]

In [32]:
def replace_target_values(df):
    df['Target'].replace(2, 1, inplace=True)

# Виклик функції для вашого датафрейму ds
replace_target_values(ds)

In [33]:
# Підрахунок кількості викидів у кожному стовпці

# Створюємо DataFrame для зберігання кількості викидів
outlier_counts = {}

for column in quantitative_columns:
    upper_limit, lower_limit = outlier_boundaries[column]
    # Підрахунок кількості викидів
    outliers = ds[(ds[column] > upper_limit) | (ds[column] < lower_limit)]
    outlier_counts[column] = outliers.shape[0]

outlier_counts

{'Admission grade': 24,
 'Age at enrollment': 76,
 'Curricular units 1st sem (credited)': 112,
 'Curricular units 1st sem (enrolled)': 81,
 'Curricular units 1st sem (evaluations)': 31,
 'Curricular units 1st sem (approved)': 34,
 'Curricular units 1st sem (grade)': 125,
 'Curricular units 2nd sem (credited)': 97,
 'Curricular units 2nd sem (enrolled)': 76,
 'Curricular units 2nd sem (evaluations)': 28,
 'Curricular units 2nd sem (approved)': 10,
 'Curricular units 2nd sem (grade)': 1,
 'Unemployment rate': 0,
 'Inflation rate': 0,
 'GDP': 0,
 'Target': 0}

# Prediction

In [36]:
X_columns = [
    'Marital status', 'Application mode', 'Application order',
    'Course', 'Daytime/evening attendance\t', 'Previous qualification',
    'Previous qualification (grade)', 'Nacionality',
    "Mother's qualification", "Father's qualification",
    "Mother's occupation", "Father's occupation", 'Admission grade',
    'Displaced', 'Educational special needs', 'Debtor',
    'Tuition fees up to date', 'Gender', 'Scholarship holder',
    'Age at enrollment', 'International',
    'Curricular units 1st sem (credited)', 'Curricular units 1st sem (enrolled)',
    'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (approved)',
    'Curricular units 1st sem (grade)', 'Curricular units 1st sem (without evaluations)',
    'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (enrolled)',
    'Curricular units 2nd sem (evaluations)', 'Curricular units 2nd sem (approved)',
    'Curricular units 2nd sem (grade)', 'Curricular units 2nd sem (without evaluations)',
    'Unemployment rate', 'Inflation rate', 'GDP', 'Citizenship',
    'Family Position', 'Attendance', 'Field of Study', 'Special Needs'
]
# Вибірка даних
X = ds[X_columns]

In [37]:
import os
import pickle
import sys
import pandas as pd

# Настройка отображения для Pandas
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

# Печать размера данных
print('New data size:', ds.shape)

# Проверка на пустые данные
if ds.empty:
    print("No empty values")
    sys.exit()

# Путь к модели
model_path = 'C:/Users/Homka/Desktop/final_project_variant_4/models/trained_model.pkl'

# Загрузка модели, если она существует
if os.path.exists(model_path):
    with open(model_path, 'rb') as f:
        rf = pickle.load(f)
    print("Model loaded successfully.")
else:
    print("Model not found. Exiting.")
    sys.exit()

# Подготовка данных для прогноза (предположительно, X - это ваши фичи)
X = ds.drop(columns=['Target'])  # Замените 'target' на название колонки с целевыми значениями, если она есть

# Прогнозирование
y_pred = rf.predict(X)

# Добавление предсказаний в DataFrame
ds['class_pred'] = y_pred

# Сохранение результата предсказания
output_path = 'C:/Users/Homka/Desktop/final_project_variant_4/prediction_results.csv'
ds.to_csv(output_path, index=False)
print(f"Result of prediction saved in '{output_path}' file.")

# Печать первых 5 строк
print(ds.head(5))

New data size: (833, 42)
Model loaded successfully.
Result of prediction saved in 'C:/Users/Homka/Desktop/final_project_variant_4/prediction_results.csv' file.
   Marital status  Application mode  Application order  Course  \
0               1              43.0                1.0  9500.0
1               1              17.0                1.0   171.0
2               1              17.0                4.0  9500.0
3               1              18.0                1.0  9130.0
4               1               1.0                1.0  9070.0

   Daytime/evening attendance\t  Previous qualification  \
0                           1.0                     1.0
1                           1.0                     1.0
2                           1.0                     1.0
3                           1.0                     1.0
4                           1.0                     1.0

   Previous qualification (grade)  Nacionality  Mother's qualification  \
0                           170.0          1.0                    19.0
1                           144.0          1.0                    37.0
2                           136.0          1.0                     3.0
3                           146.0          1.0                     3.0
4                           133.0          1.0                    12.0

   Father's qualification  Mother's occupation  Father's occupation  \
0                    37.0                  8.0                  8.0
1                    37.0                  9.0                  6.0
2                     3.0                  2.0                  2.0
3                     3.0                  5.0                  2.0
4                    19.0                  4.0                  5.0

   Admission grade  Displaced  Educational special needs  Debtor  \
0            100.0        0.0                        0.0     0.0
1            129.3        1.0                        0.0     0.0
2            132.5        1.0                        0.0     0.0
3            137.8        0.0                        0.0     0.0
4            118.5        0.0                        1.0     0.0

   Tuition fees up to date  Gender  Scholarship holder  Age at enrollment  \
0                      1.0     0.0                 0.0               20.0
1                      1.0     1.0                 1.0               18.0
2                      1.0     0.0                 0.0               19.0
3                      1.0     1.0                 0.0               18.0
4                      1.0     0.0                 1.0               18.0

   International  Curricular units 1st sem (credited)  \
0            0.0                                  0.0
1            0.0                                  0.0
2            0.0                                  0.0
3            0.0                                  0.0
4            0.0                                  0.0

   Curricular units 1st sem (enrolled)  \
0                                  7.0
1                                  0.0
2                                  7.0
3                                  6.0
4                                  6.0

   Curricular units 1st sem (evaluations)  \
0                                     8.0
1                                     0.0
2                                     8.0
3                                    11.0
4                                     6.0

   Curricular units 1st sem (approved)  Curricular units 1st sem (grade)  \
0                                  6.0                         13.250000
1                                  0.0                          0.000000
2                                  7.0                         13.198571
3                                  5.0                         13.600000
4                                  6.0                         12.000000

   Curricular units 1st sem (without evaluations)  \
0                                             0.0
1                                             0.0
2                                             0.0
3                                             0.0
4                                             0.0

   Curricular units 2nd sem (credited)  Curricular units 2nd sem (enrolled)  \
0                                  0.0                                  8.0
1                                  0.0                                  0.0
2                                  0.0                                  8.0
3                                  0.0                                  6.0
4                                  0.0                                  6.0

   Curricular units 2nd sem (evaluations)  \
0                                     8.0
1                                     0.0
2                                     8.0
3                                    13.0
4                                     8.0

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                  8.0                         13.750000
1                                  0.0                         12.250000
2                                  8.0                         13.062500
3                                  3.0                         12.666667
4                                  6.0                         11.285714

   Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                             0.0               13.9
1                                             0.0                7.6
2                                             0.0               11.1
3                                             0.0               13.9
4                                             0.0                8.9

   Inflation rate   GDP  Citizenship  Family Position  Attendance  \
0            -0.3  0.79            0                0           0
1             2.6  0.32            0                1           0
2             0.6  2.02            1                1           1
3            -0.3  0.79            2                2           1
4             1.4  3.51            3                1           0

   Field of Study  Special Needs  Target  class_pred
0               0              0       0           1
1               1              1       0           1
2               1              1       1           1
3               2              0       1           1
4               3              0       1           1